// Use CSS Variables


#landing {
    height: 100vh;
}

img {
    height: 98vh;
    width: 98vw;
    border-radius: 15px;
}

.imageWrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}