.nav-items a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 25px;
        font-family: 'Bebas Neue', sans-serif;
        padding: 20px;
}
.nav-text a:hover {
    color: rgb(200, 200, 200);
    transition: 0.2s ease;
}

.nav-items {
    padding-bottom: 10px;
}
.menu {
    position: absolute;
    opacity: 0;
}
.close {
    position: absolute;
    opacity: 0;
}
.nav-text {
    padding: 0 18% 0 18%;
    display: grid;
    grid-template-columns: repeat( 5, 1fr);
    align-items: center;
    justify-items: center;
}



/********************** DESKTOP **********************/
@media screen and (min-width: 1001px) {
    .navbar {
        display: flex;
    }
    .nav-text {
        column-gap: 70px;
        transition: 0.7s ease; 
    }
    .nav-items {
        display: inline-block;
        align-items: center;
    }
}

@media screen and (max-width: 1000px) and (min-width: 901px) {
    .nav-text {
        column-gap: 20px;
        transition: 0.7s ease; 
    }
}


/************************** RESPONSIVE  ********************************/
@media screen and (max-width: 900px) {
    .nav-items a {
        color: white;
    }
    .nav-items {
        position: relative;
        padding-bottom: 25px;
        left: -50%;
    }

    .navbar .nav-items a:hover {
        cursor: pointer;
        animation: navFont 0.2s ease forwards;
    }
    .navbar {
        box-sizing: border-box;
        padding-top: 100px;
        background-color: black;
        position: absolute;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100vw;
        transition: left 0.5s ease;
        z-index: 1;
    }
    .nav-text {
        display: flex;
        flex-direction: column;
    }
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        display: block;
        transition: right 10s ease;
    }
    .menu img {
        width: 40px;
        margin: 10px 0 0 20px;
    }
    .menu:hover + .navbar, .navbar:hover {
        left: 0;
    }

    .menu:hover + .navbar:hover, .nav-items {
        animation: into-nav 2s 0.2s ease forwards;
    }
        
    .close {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px;
        opacity: 1;
    }

    .close img:hover {
        animation: rotate 0.2s ease forwards;
    }




    /************************** MOBILE ANIME  ********************************/
    @keyframes navFont {
        0% {
            font-size: 25px;
        }
        100% {
            color: grey;
            font-size: 35px;
            letter-spacing: 2px;
        }
    }

    @keyframes into-nav {
        0% {
        }
        100% {
            left: 0%;
        }
    }

    @keyframes rotate {
        0% {
            transform: rotateZ(0deg);
        }
        100% {
            padding: 6px;
            width: 50px;
            color: grey;
            transform: rotateZ(180deg);
        }
    }
}