* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  overflow-x: hidden;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  margin-left: -3px;
}

span.subH {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 200;
}

@media screen and (max-width: 580px) {
  h2 {
    font-size: 30px !important;
  }
  p {
    font-size: 16px !important;
    line-height: 25px !important;
  }
  span.subH {
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
}
ul.navbar {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  overflow: hidden;
  padding: 25px 60px 25px 60px;
  margin: auto;
  max-width: 1450px;
  /* Style for the navigation links */
  /* Change link color when hovered over */
}
ul.navbar li a {
  display: block;
  color: #0D0D0D;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.3px;
  text-align: center;
  text-decoration: none;
}
ul.navbar li a:hover {
  color: #D9A711;
}

.navSlide {
  background-color: #0D0D0D;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 100%;
  z-index: 1;
}
.navSlide .slideNavbar {
  padding-left: 25vw;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 15vh;
  list-style-type: none;
}
.navSlide .slideNavbar li a {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #F2F2F2;
}
.navSlide .slideNavbar li a:hover {
  color: #D9A711;
}
.navSlide .closeBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 20px;
  left: 40px;
}
.navSlide .svgs {
  display: flex;
  padding: 80px 0 0 25vw;
  gap: 25px;
}

#heroSection {
  display: flex;
  height: 580px;
  max-width: 1450px;
  padding: 0 20px;
  margin: auto;
}
#heroSection .rotateLink {
  transform-origin: left;
  display: inline-block;
  transform: rotate(270deg);
  width: 130px;
}
#heroSection .gmail, #heroSection .contact {
  width: 15px;
}
#heroSection .gmail a, #heroSection .contact a {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
  color: #0D0D0D;
}
#heroSection .gmail a:hover, #heroSection .contact a:hover {
  color: #D9A711;
  text-shadow: 2px 2px 6px rgba(13, 13, 13, 0.1);
}
#heroSection .contact {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 20px;
}
#heroSection .gmail {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 270px 0 0 15px;
}

#heroSection .main {
  background-color: #D9A711;
  width: 100%;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  padding: 35px;
}
#heroSection .main .bigText {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  justify-content: center;
  padding-bottom: 100px;
}
#heroSection .main .bigText h1 {
  color: #F2F2F2;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 85px;
  text-transform: uppercase;
  line-height: 85px;
  text-shadow: 5px 5px 4px rgba(13, 13, 13, 0.5);
  letter-spacing: 1px;
}
#heroSection .main .bigText h1 span {
  letter-spacing: 6px;
}
#heroSection .main .image {
  position: relative;
}
#heroSection .main .image img {
  position: absolute;
  left: -130px;
  bottom: -35px;
}
#heroSection .main .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#heroSection .main .description .svgs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 10px;
}
#heroSection .main .description .svgs svg {
  cursor: pointer;
}
#heroSection .main .description p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
  width: 360px;
}

ul.heroButtons {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
  list-style-type: none;
  padding-left: 10px;
}
ul.heroButtons li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #0D0D0D;
  letter-spacing: 0.3px;
}
ul.heroButtons .workBtn a {
  background-color: #F2F2F2;
  padding: 10px 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(13, 13, 13, 0.4);
}
ul.heroButtons .workBtn a:hover {
  background-color: #0D0D0D;
  color: #F2F2F2;
  box-shadow: none;
}
ul.heroButtons .aboutBtn a {
  display: flex;
  -moz-column-gap: 7px;
       column-gap: 7px;
  align-items: center;
  cursor: pointer;
}

.desMobile {
  display: flex;
  flex-direction: column;
}

.hideDesktop {
  display: none !important;
}

.aboutBtnSVGRotate {
  animation: aboutBtnSVGRotate 1s both;
}

@keyframes aboutBtnSVGRotate {
  to {
    transform: rotate(45deg);
  }
}
@media screen and (max-width: 1250px) {
  #heroSection .main {
    flex-direction: column;
  }
  #heroSection .main .description {
    flex-direction: row-reverse;
  }
  #heroSection .main .description .svgs {
    justify-content: flex-end;
  }
  #heroSection .main .image img {
    left: 600px;
    bottom: -215px;
  }
}
@media screen and (max-width: 1040px) {
  #heroSection .gmail {
    display: none;
  }
  #heroSection .contact {
    display: none;
  }
  #heroSection .main {
    position: relative;
  }
  #heroSection .main .description {
    flex-direction: column;
    position: absolute;
    width: 93%;
    height: 88%;
  }
  #heroSection .main .image img {
    left: 510px;
    bottom: -35px;
  }
  #heroSection .main .bigText .heroButtons {
    z-index: 2;
  }
}
@media screen and (max-width: 850px) {
  .hideMobile {
    display: none !important;
  }
  .hideDesktop {
    display: initial !important;
  }
  #heroSection .main {
    background-color: initial;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: 1450px;
    padding: 0 20px;
    margin: auto;
  }
  #heroSection .main .bigText {
    background-color: #D9A711;
    border-radius: 30px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
    padding: 10px;
    row-gap: 30px;
  }
  #heroSection .main .bigText h1 {
    text-align: center;
    font-size: 75px;
    line-height: 65px;
  }
  #heroSection .main .bigText .svgs {
    display: flex;
    justify-content: center;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  #heroSection .main .desMobile {
    padding: 20px;
    gap: 20px;
  }
  #heroSection .main .desMobile .description {
    position: unset;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
  }
  #heroSection .main .desMobile .description p {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #heroSection .main .desMobile ul.heroButtons {
    padding-left: 0;
    justify-content: center;
  }
  #heroSection .main .desMobile ul.heroButtons .workBtn a {
    background-color: #D9A711;
  }
  #heroSection .main .desMobile ul.heroButtons .workBtn a:hover {
    background-color: #0D0D0D;
  }
  #heroSection .main .image {
    background-color: #D9A711;
    border-radius: 30px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
    grid-row-start: -1;
    grid-row-end: 3;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0 10px;
  }
  #heroSection .main .image img {
    position: unset;
  }
  .mobileNav {
    display: flex !important;
    justify-content: flex-end;
    padding-right: 10px;
  }
}
@media screen and (max-width: 780px) {
  #heroSection .main {
    display: flex;
  }
  .image {
    grid-row-start: 2 !important;
    flex-direction: row !important;
    justify-content: center !important;
  }
  .image img {
    width: 200px;
  }
}
@media screen and (max-width: 500px) {
  #heroSection .main .bigText h1 {
    font-size: 50px;
    line-height: 45px;
  }
  #heroSection .main .desMobile .heroButtons .workBtn a {
    padding: 10px 15px;
    font-size: 14px;
  }
  #heroSection .main .desMobile .heroButtons .aboutBtn a {
    font-size: 14px;
  }
}
.marquee__part {
  flex-shrink: 0;
  padding: 0 4px;
}

.marquee {
  display: flex;
  flex-direction: column;
  width: 99vw;
  left: 0;
  overflow: hidden;
  transform: rotate(-5deg);
}
.marquee .htmlSVG {
  margin-left: 50px;
}
.marquee .designSVG {
  margin: 20px 50px 0 0;
  display: flex;
  justify-content: flex-end;
}

.marquee__inner {
  -webkit-font-smoothing: antialiased;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex: auto;
  flex-direction: row;
  transform: translate(0%, 0%) !important;
  color: #D9A711;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.2));
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 50px;
}

.spacer {
  height: 150px;
}

.marquee__part__combi {
  flex-shrink: 0;
  padding: 0 4px;
  color: #0D0D0D;
  filter: drop-shadow(5px 5px 3px rgba(217, 167, 17, 0.5));
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 70px;
  overflow: hidden;
}

.marquee__inner__combi {
  -webkit-font-smoothing: antialiased;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex: auto;
  flex-direction: row;
  transform: translate(-50%, 0%) !important;
}

@media screen and (max-width: 580px) {
  .marquee__part__combi {
    font-size: 40px;
  }
  .marquee__inner {
    font-size: 30px;
  }
  .htmlSVG svg {
    width: 70px;
  }
  .designSVG svg {
    width: 60px;
  }
}
#about {
  display: flex;
  max-width: 1450px;
  padding: 100px 20px 50px 20px;
  margin: auto;
}
#about .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px 0 50px;
}
#about .description p {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 200;
}
#about .aboutIMG img {
  width: 650px;
}

@media screen and (max-width: 1040px) {
  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #about .description {
    margin: 0;
    text-align: center;
    align-items: center;
  }
  #about .description p {
    width: 90%;
  }
  #about .aboutIMG {
    align-items: center;
    padding-top: 40px;
  }
  #about .aboutIMG img {
    width: 400px;
  }
}
@media screen and (max-width: 580px) {
  .aboutIMG {
    align-items: center;
    padding-top: 40px;
  }
  .aboutIMG img {
    width: 250px !important;
  }
}
#education {
  display: flex;
  flex-direction: row-reverse;
  gap: 70px;
  max-width: 1450px;
  padding: 200px 20px 100px 20px;
  margin: auto;
  justify-content: space-between;
}
#education .edTitle {
  position: sticky;
  top: 50px;
  text-align: end;
}
#education .edTimeline .inner-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
#education .edTimeline .inner-container div.inner {
  padding: 35px 50px;
  width: 800px;
  background-image: linear-gradient(125deg, rgba(240, 186, 0, 0.75), rgba(240, 186, 0, 0.2));
  border: 1px solid #D9A711;
  border-radius: 30px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#education .edTimeline .inner-container div.inner h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#education .edTimeline .inner-container div.inner a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #0D0D0D;
  letter-spacing: 0.3px;
  text-decoration: none;
}
#education .edTimeline .inner-container div.inner .workHeading {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#education .edTimeline .inner-container div.inner .workHeading .workSubhead {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#education .edTimeline .inner-container div.inner .workContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  height: 100%;
}
#education .edTimeline .inner-container div.inner .workContent .aboutBtn a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #0D0D0D;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
  gap: 7px;
  text-transform: capitalize;
}

@media screen and (max-width: 1040px) {
  #education {
    flex-wrap: wrap;
    justify-content: center;
  }
  #education .edTitle {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  #education .edTitle p {
    width: 90%;
  }
}
@media screen and (max-width: 850px) {
  #education .edTimeline .inner-container {
    align-items: center;
  }
  #education .edTimeline .inner-container div.inner {
    width: 95%;
  }
}
@media screen and (max-width: 580px) {
  .edTimeline .inner-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .edTimeline .inner-container div.inner {
    padding: 30px 30px !important;
  }
  .workHeading .workSubhead {
    font-size: 12px !important;
    letter-spacing: 5px;
  }
  .workHeading h3 {
    font-size: 25px !important;
    letter-spacing: 3px !important;
    margin-bottom: 10px !important;
  }
}
#projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 200px 20px 100px 20px;
  align-items: center;
  max-width: 1450px;
  margin: auto;
}
#projects .projTitle {
  width: 50%;
  align-self: flex-start;
  margin-bottom: 50px;
  position: sticky;
  top: 50px;
}
#projects h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#projects .project img {
  width: 650px;
  border: 2px solid #D9A711;
  border-bottom: 0;
  margin-bottom: -4px;
  border-radius: 30px 30px 0 0;
}
#projects .project .rowtwo {
  display: flex;
  justify-content: space-between;
  border: 2px solid #D9A711;
  border-radius: 0 0 30px 30px;
}
#projects .project .rowtwo h3 {
  text-align: center;
  width: 80%;
  margin: 0;
  padding: 10px 0;
  border-right: 2px solid #D9A711;
  background-image: linear-gradient(125deg, rgba(240, 186, 0, 0.75), rgba(240, 186, 0, 0.2));
  border-radius: 0 0 0 30px;
}
#projects .project .rowtwo .aboutBtn {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#projects .projList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#projects .projList .workBtn a {
  background-color: #F2F2F2;
  padding: 10px 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(13, 13, 13, 0.4);
  color: #0D0D0D;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #0D0D0D;
  letter-spacing: 0.3px;
}
#projects .projList .workBtn a:hover {
  background-color: #0D0D0D;
  color: #F2F2F2;
  box-shadow: none;
}

.techStack {
  margin: 200px 0 100px 0;
}
.techStack div {
  align-items: center;
}
.techStack span {
  padding-left: 100px;
  max-width: 1450px;
  align-items: center;
}

#workXP {
  display: flex;
  gap: 70px;
  max-width: 1450px;
  padding: 200px 20px 100px 20px;
  margin: auto;
  justify-content: space-between;
}
#workXP .XPTitle {
  position: sticky;
  top: 50px;
}
#workXP .XPTimeline .inner-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
#workXP .XPTimeline .inner-container div.inner {
  padding: 35px 50px;
  width: 800px;
  background-image: linear-gradient(125deg, rgba(240, 186, 0, 0.75), rgba(240, 186, 0, 0.2));
  border: 1px solid #D9A711;
  border-radius: 30px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#workXP .XPTimeline .inner-container div.inner h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#workXP .XPTimeline .inner-container div.inner a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #0D0D0D;
  letter-spacing: 0.3px;
  text-decoration: none;
}
#workXP .XPTimeline .inner-container div.inner .workHeading {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#workXP .XPTimeline .inner-container div.inner .workHeading .workSubhead {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#workXP .XPTimeline .inner-container div.inner .workContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  height: 100%;
}
#workXP .XPTimeline .inner-container div.inner .workContent .aboutBtn a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #0D0D0D;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
  gap: 7px;
  text-transform: capitalize;
}

@media screen and (max-width: 1040px) {
  #workXP {
    flex-wrap: wrap;
    justify-content: center;
  }
  #workXP .XPTitle {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  #workXP .XPTitle p {
    width: 90%;
  }
}
@media screen and (max-width: 850px) {
  #workXP .XPTimeline .inner-container {
    align-items: center;
  }
  #workXP .XPTimeline .inner-container div.inner {
    width: 95%;
    padding: 30px 30px;
  }
}
.gallery {
  display: flex;
  padding: 150px 20px;
  margin: auto;
  max-width: 1450px;
  gap: 175px;
}
.gallery .photos {
  gap: 15px;
  display: flex;
}
.gallery .photos .rightg {
  display: grid;
  justify-items: end;
  gap: 15px;
}
.gallery .photos .rightg img {
  border-radius: 15px;
}
.gallery .photos .leftg {
  display: grid;
  grid-auto-rows: max-content;
  gap: 15px;
}
.gallery .photos .leftg img {
  border-radius: 15px;
}
.gallery .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gallery .description h2 {
  text-align: end;
}
.gallery .description span {
  display: block;
  text-align: end;
  margin-bottom: 30px;
}
.gallery .description p {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 200;
  text-align: end;
  padding-bottom: 20px;
}

@media screen and (max-width: 1040px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }
  .gallery h2, .gallery span, .gallery p {
    text-align: center !important;
  }
  .gallery .description {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .gallery .description p {
    width: 90%;
  }
}
@media screen and (max-width: 650px) {
  .gallery .photos .rightg img, .gallery .photos .leftg img {
    width: 90%;
  }
}
footer {
  background-color: #D9A711;
  border-radius: 60px 60px 0 0;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
footer .footerH {
  max-width: 1450px;
  padding: 0 0 50px 15%;
}
footer .footerH h2 {
  width: 380px;
  line-height: 55px;
}
footer .footerContent {
  display: flex;
  justify-content: space-between;
  padding: 0 15% 70px 15%;
}
footer .footerContent .mail, footer .footerContent .telephone, footer .footerContent .socials {
  display: flex;
  flex-direction: column;
}
footer .footerContent .mail a, footer .footerContent .telephone a {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  line-height: 32px;
  font-weight: 500;
  color: #0D0D0D;
  text-decoration: none;
}
footer .footerContent span {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
}
footer .footerContent .contactInfo {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
footer .footerContent .socials span {
  padding-bottom: 5px;
}
footer .footerContent .socials .svgs {
  display: flex;
  gap: 15px;
  align-items: center;
}
footer form {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 650px;
  gap: 15px;
  padding-left: 40px;
}
footer form input, footer form textarea {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 200;
  padding: 5px;
}
footer form textarea {
  height: 80px;
}
footer form button {
  background-color: #0D0D0D;
  padding: 10px 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(13, 13, 13, 0.4);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #F2F2F2;
  letter-spacing: 0.3px;
  width: 150px;
  border: none;
  cursor: pointer;
}
footer .footerBottom {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  padding: 10px 0;
}

@media screen and (max-width: 1040px) {
  footer .footerContent {
    flex-wrap: wrap;
    gap: 50px;
  }
  footer .footerContent form {
    padding-left: 0;
  }
}
@media screen and (max-width: 580px) {
  footer .footerH {
    padding: 10px 20px 10px 20px;
  }
  footer .footerH h2 {
    width: 80% !important;
    line-height: 38px !important;
  }
  footer .footerContent {
    padding: 10px 20px 30px 20px;
  }
  footer .footerContent span {
    font-size: 15px;
  }
  footer .footerContent a {
    font-size: 20px !important;
    line-height: 32px;
  }
  footer form {
    width: 100%;
  }
  footer .footerBottom {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 5px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */