// Global Colors
$yellow: #d9a711;
$black: #0d0d0d;
$white: #f2f2f2;

// Global Fonts
$montserrat: "Montserrat", sans-serif;
$poppins: "Poppins", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;
  overflow-x: hidden;
  // margin: auto;
  // max-width: 1450px;
  // padding: 0 20px;
}

h2 {
  font-family: $poppins;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  margin-left: -3px;
}

span.subH {
  display: block;
  font-family: $montserrat;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 200;
}

// Responsiveness:: Global Styles
@media screen and (max-width: 580px) {
  h2 {
    font-size: 30px !important;
  }

  p {
    font-size: 16px !important;
    line-height: 25px !important;
  }

  span.subH {
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
}

// Navbar Stylings
ul.navbar {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  overflow: hidden;
  padding: 25px 60px 25px 60px;
  margin: auto;
  max-width: 1450px;

  /* Style for the navigation links */
  li a {
    display: block;
    color: $black;
    font-family: $montserrat;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.3px;
    text-align: center;
    text-decoration: none;
  }

  /* Change link color when hovered over */
  li a:hover {
    color: $yellow;
  }
}

.navSlide {
  background-color: $black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 100%;
  z-index: 1;

  .slideNavbar {
    padding-left: 25vw;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 15vh;
    list-style-type: none;

    li a {
      font-family: $montserrat;
      font-size: 27px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      color: $white;
    }

    li a:hover {
      color: $yellow;
    }
  }

  .closeBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 20px;
    left: 40px;
  }

  .svgs {
    display: flex;
    padding: 80px 0 0 25vw;
    gap: 25px;
  }
}

#heroSection {
  display: flex;
  height: 580px;
  max-width: 1450px;
  padding: 0 20px;
  margin: auto;

  .rotateLink {
    transform-origin: left;
    display: inline-block;
    transform: rotate(270deg);
    width: 130px;
  }

  .gmail,
  .contact {
    width: 15px;
  }

  .gmail a,
  .contact a {
    font-family: $poppins;
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
    color: $black;
  }

  .gmail a:hover,
  .contact a:hover {
    color: $yellow;
    text-shadow: 2px 2px 6px rgba($black, 10%);
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 20px;
  }

  .gmail {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 270px 0 0 15px;
  }
}

#heroSection .main {
  background-color: $yellow;
  width: 100%;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  padding: 35px;

  // Main div 1
  .bigText {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    justify-content: center;
    padding-bottom: 100px;

    h1 {
      color: $white;
      font-family: $montserrat;
      font-weight: 400;
      font-size: 85px;
      text-transform: uppercase;
      line-height: 85px;
      text-shadow: 5px 5px 4px rgba($black, 50%);
      letter-spacing: 1px;

      span {
        letter-spacing: 6px;
      }
    }
  }

  // Main div 2
  .image {
    position: relative;

    img {
      position: absolute;
      left: -130px;
      bottom: -35px;
    }
  }

  // Main div 3
  .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .svgs {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: 10px;

      svg:hover g path {
        // fill: $black;
        // cursor: pointer;
      }
      svg {
        cursor: pointer;
      }
    }

    p {
      font-family: $poppins;
      font-weight: 300;
      font-size: 22px;
      line-height: 32px;
      width: 360px;
    }
  }
}

ul.heroButtons {
  display: flex;
  column-gap: 35px;
  list-style-type: none;
  padding-left: 10px;

  li a {
    text-decoration: none;
    font-family: $poppins;
    font-weight: 500;
    font-size: 16px;
    color: $black;
    letter-spacing: 0.3px;
  }

  .workBtn a {
    background-color: $white;
    padding: 10px 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba($black, 40%);

    &:hover {
      background-color: $black;
      color: $white;
      box-shadow: none;
    }
  }

  .aboutBtn a {
    display: flex;
    column-gap: 7px;
    align-items: center;
    cursor: pointer;
  }
}

.desMobile {
  display: flex;
  flex-direction: column;
}

.hideDesktop {
  display: none !important;
}

.aboutBtnSVGRotate {
  animation: aboutBtnSVGRotate 1s both;
}

@keyframes aboutBtnSVGRotate {
  to {
    transform: rotate(45deg);
  }
}

// Responsive styles::Landing Page
@media screen and (max-width: 1250px) {
  #heroSection .main {
    flex-direction: column;

    .description {
      flex-direction: row-reverse;

      .svgs {
        justify-content: flex-end;
      }
    }
    .image {
      img {
        left: 600px;
        bottom: -215px;
      }
    }
  }
}

@media screen and (max-width: 1040px) {
  #heroSection {
    .gmail {
      display: none;
    }
    .contact {
      display: none;
    }
  }

  #heroSection .main {
    position: relative;

    .description {
      flex-direction: column;
      position: absolute;
      width: 93%;
      height: 88%;
    }

    .image {
      img {
        left: 510px;
        bottom: -35px;
      }
    }

    .bigText {
      .heroButtons {
        z-index: 2;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .hideMobile {
    display: none !important;
  }

  .hideDesktop {
    display: initial !important;
  }

  #heroSection .main {
    background-color: initial;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: 1450px;
    padding: 0 20px;
    margin: auto;

    .bigText {
      background-color: $yellow;
      border-radius: 30px;
      filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
      padding: 10px;
      row-gap: 30px;

      h1 {
        text-align: center;
        font-size: 75px;
        line-height: 65px;
      }

      .svgs {
        display: flex;
        justify-content: center;
        column-gap: 15px;
      }
    }

    .desMobile {
      padding: 20px;
      gap: 20px;

      .description {
        position: unset;
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: row;

        p {
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      ul.heroButtons {
        padding-left: 0;
        justify-content: center;

        .workBtn a {
          background-color: $yellow;
        }

        .workBtn a:hover {
          background-color: $black;
        }
      }
    }

    .image {
      background-color: $yellow;
      border-radius: 30px;
      filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
      grid-row-start: -1;
      grid-row-end: 3;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      padding: 0 10px;

      img {
        position: unset;
      }
    }
  }

  .mobileNav {
    display: flex !important;
    justify-content: flex-end;
    padding-right: 10px;
  }
}

@media screen and (max-width: 780px) {
  #heroSection .main {
    display: flex;
  }

  .image {
    grid-row-start: 2 !important;
    flex-direction: row !important;
    justify-content: center !important;

    img {
      width: 200px;
    }
  }
}

@media screen and (max-width: 500px) {
  #heroSection .main {
    .bigText {
      h1 {
        font-size: 50px;
        line-height: 45px;
      }
    }

    .desMobile {
      .heroButtons {
        .workBtn a {
          padding: 10px 15px;
          font-size: 14px;
        }

        .aboutBtn a {
          font-size: 14px;
        }
      }
    }
  }
}

// marquee test
.marquee__part {
  flex-shrink: 0;
  padding: 0 4px;
}

.marquee {
  display: flex;
  flex-direction: column;
  width: 99vw;
  left: 0;
  overflow: hidden;
  transform: rotate(-5deg);

  .htmlSVG {
    margin-left: 50px;
  }

  .designSVG {
    margin: 20px 50px 0 0;
    display: flex;
    justify-content: flex-end;
  }
}

.marquee__inner {
  -webkit-font-smoothing: antialiased;
  width: fit-content;
  display: flex;
  flex: auto;
  flex-direction: row;
  transform: translate(0%, 0%) !important;
  color: $yellow;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.2));
  font-family: $montserrat;
  font-weight: 400;
  font-size: 50px;
  gap: 80px;
}

.marquee__part__combi {
  flex-shrink: 0;
  padding: 0 4px;
  color: $black;
  filter: drop-shadow(5px 5px 3px rgba(217, 167, 17, 0.5));
  font-family: $montserrat;
  font-weight: 400;
  font-size: 70px;
  // overflow: hidden;
}

.marquee__inner__combi {
  -webkit-font-smoothing: antialiased;
  width: fit-content;
  display: flex;
  flex: auto;
  flex-direction: row;
  transform: translate(-50%, 0%) !important;
}

// Responsiveness:: Maqquee
@media screen and (max-width: 580px) {
  .marquee__part__combi {
    font-size: 40px;
  }

  .marquee__inner {
    font-size: 30px;
  }

  .htmlSVG svg {
    width: 70px;
  }

  .designSVG svg {
    width: 60px;
  }
}

// About Section
#about {
  display: flex;
  max-width: 1450px;
  padding: 100px 20px 50px 20px;
  margin: auto;

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px 0 50px;

    p {
      font-family: $poppins;
      font-size: 22px;
      line-height: 32px;
      font-weight: 200;
    }
  }

  .aboutIMG {
    img {
      width: 650px;
    }
  }
}

// Responsive Styles::About Section
@media screen and (max-width: 1040px) {
  #about {
    display: flex;
    flex-direction: column;
    align-items: center;

    .description {
      margin: 0;
      text-align: center;
      align-items: center;

      p {
        width: 90%;
      }
    }

    .aboutIMG {
      align-items: center;
      padding-top: 40px;

      img {
        width: 400px;
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .aboutIMG {
    align-items: center;
    padding-top: 40px;

    img {
      width: 250px !important;
    }
  }
}

// Education Section
#education {
  display: flex;
  flex-direction: row-reverse;
  gap: 70px;
  max-width: 1450px;
  padding: 200px 20px 100px 20px;
  margin: auto;
  justify-content: space-between;

  .edTitle {
    position: sticky;
    top: 50px;
    text-align: end;
  }

  .edTimeline {
    .inner-container {
      display: flex;
      flex-direction: column;
      gap: 60px;

      div.inner {
        padding: 35px 50px;
        width: 800px;
        background-image: linear-gradient(
          125deg,
          rgba(240, 186, 0, 75%),
          rgba(240, 186, 0, 20%)
        );
        border: 1px solid $yellow;
        border-radius: 30px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3 {
          font-family: $montserrat;
          font-weight: 500;
          font-size: 35px;
          letter-spacing: 5px;
          text-transform: uppercase;
          margin-bottom: 20px;
        }

        a {
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: #0d0d0d;
          letter-spacing: 0.3px;
          text-decoration: none;
        }

        .workHeading {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .workSubhead {
            font-family: $montserrat;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 5px;
            text-transform: uppercase;
          }
        }

        .workContent {
          display: flex;
          flex-direction: column;
          gap: 20px;
          justify-content: space-between;
          height: 100%;

          .aboutBtn {
            a {
              font-family: "Poppins", sans-serif;
              font-weight: 500;
              font-size: 16px;
              color: $black;
              letter-spacing: 0.3px;
              display: flex;
              align-items: center;
              gap: 7px;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }
}

// Education Section :: Responsive
@media screen and (max-width: 1040px) {
  #education {
    flex-wrap: wrap;
    justify-content: center;

    .edTitle {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      p {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  #education {
    .edTimeline {
      .inner-container {
        align-items: center;

        div.inner {
          width: 95%;
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .edTimeline {
    .inner-container {
      display: flex;
      flex-direction: column;
      gap: 60px;

      div.inner {
        padding: 30px 30px !important;
      }
    }
  }
  .workHeading {
    .workSubhead {
      font-size: 12px !important;
      letter-spacing: 5px;
    }

    h3 {
      font-size: 25px !important;
      letter-spacing: 3px !important;
      margin-bottom: 10px !important;
    }
  }
}

// Projects Section
#projects {
  display: grid;
  justify-content: space-between;
  padding: 200px 20px 0px 20px;
  align-items: center;
  max-width: 1450px;
  margin: auto;

  .projTitle {
    width: 50%;
    align-self: flex-start;
    margin-bottom: 50px;
  }
}

.projList {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 20px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  padding: 0 0 10px 20px;
  scroll-padding-inline: 20px;

  &::-webkit-scrollbar {
    width: 1px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #0d0d0d0c;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $yellow;
    border-radius: 10px;
  }

  h3 {
    font-family: $montserrat;
    font-weight: 500;
    font-size: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .workBtn a {
    background-color: $white;
    padding: 10px 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba($black, 40%);
    color: $black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0d0d0d;
    letter-spacing: 0.3px;

    &:hover {
      background-color: $black;
      color: $white;
      box-shadow: none;
    }
  }

  .extraProj {
    width: 650px;
    height: 520px;
    background-image: linear-gradient(
      125deg,
      rgba(240, 186, 0, 0.75),
      rgba(240, 186, 0, 0.2)
    );
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
  }
}

.projList > * {
  scroll-snap-align: start;
}

.project {
  img {
    width: 650px;
    border: 2px solid $yellow;
    border-bottom: 0;
    margin-bottom: -4px;
    border-radius: 30px 30px 0 0;
  }

  .rowtwo {
    display: flex;
    justify-content: space-between;
    border: 2px solid $yellow;
    border-radius: 0 0 30px 30px;

    h3 {
      text-align: center;
      width: 80%;
      margin: 0;
      padding: 10px 0;
      border-right: 2px solid $yellow;
      background-image: linear-gradient(
        125deg,
        rgba(240, 186, 0, 75%),
        rgba(240, 186, 0, 20%)
      );
      border-radius: 0 0 0 30px;
    }

    .aboutBtn {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

//Responsiveness:: Projects
@media screen and (max-width: 1040px) {
  #projects {
    .projTitle {
      width: 100%;
      justify-items: center;
      margin-bottom: 50px;

      p {
        width: 90%;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .project {
    width: 400px;
    height: fit-content;

    img {
      width: 400px;
    }

    h3 {
      font-size: 23px;
    }
  }

  .projList {
    .extraProj {
        width: 450px;
        height: 330px;
      } 
  } 
}

// Tech Stack Section
#techStack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: auto;
    width: 1400px;
    padding: 150px 0;

    .stackH {
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        font-weight: 700;
        text-transform: capitalize;
        margin-left: -3px;
        filter: drop-shadow(0px 0px 10px rgba(240, 186, 0, 1));
    }
}

@media screen and (max-width: 1400px) {
  #techStack {
    width: auto;
  }
}


// Work XP Section
#workXP {
  display: flex;
  gap: 70px;
  max-width: 1450px;
  padding: 200px 20px 100px 20px;
  margin: auto;
  justify-content: space-between;

  .XPTitle {
    position: sticky;
    top: 50px;
  }

  .XPTimeline {
    .inner-container {
      display: flex;
      flex-direction: column;
      gap: 60px;

      div.inner {
        padding: 35px 50px;
        width: 800px;
        background-image: linear-gradient(
          125deg,
          rgba(240, 186, 0, 75%),
          rgba(240, 186, 0, 20%)
        );
        border: 1px solid $yellow;
        border-radius: 30px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3 {
          font-family: $montserrat;
          font-weight: 500;
          font-size: 35px;
          letter-spacing: 5px;
          text-transform: uppercase;
          margin-bottom: 20px;
        }

        a {
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: #0d0d0d;
          letter-spacing: 0.3px;
          text-decoration: none;
        }

        .workHeading {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .workSubhead {
            font-family: $montserrat;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 5px;
            text-transform: uppercase;
          }
        }

        .workContent {
          display: flex;
          flex-direction: column;
          gap: 20px;
          justify-content: space-between;
          height: 100%;

          .aboutBtn {
            a {
              font-family: "Poppins", sans-serif;
              font-weight: 500;
              font-size: 16px;
              color: $black;
              letter-spacing: 0.3px;
              display: flex;
              align-items: center;
              gap: 7px;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }
}

// Work XP Section :: Responsive
@media screen and (max-width: 1040px) {
  #workXP {
    flex-wrap: wrap;
    justify-content: center;

    .XPTitle {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      p {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  #workXP {
    .XPTimeline {
      .inner-container {
        align-items: center;

        div.inner {
          width: 95%;
          padding: 30px 30px;
        }
      }
    }
  }
}

// Gallery Section
.gallery {
  display: flex;
  padding: 150px 20px;
  margin: auto;
  max-width: 1450px;
  gap: 175px;

  .photos {
    gap: 15px;
    display: flex;

    .rightg {
      display: grid;
      justify-items: end;
      gap: 15px;

      img {
        border-radius: 15px;
      }
    }
    .leftg {
      display: grid;
      grid-auto-rows: max-content;
      gap: 15px;

      img {
        border-radius: 15px;
      }
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      text-align: end;
    }
    span {
      display: block;
      text-align: end;
      margin-bottom: 30px;
    }
    p {
      display: block;
      font-family: $poppins;
      font-size: 22px;
      line-height: 32px;
      font-weight: 200;
      text-align: end;
      padding-bottom: 20px;
    }
  }
}

// Gallery Section:: Responsiveness
@media screen and (max-width: 1040px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;

    h2,
    span,
    p {
      text-align: center !important;
    }

    .description {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      p {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .gallery {
    .photos {
      .rightg,
      .leftg {
        img {
          width: 90%;
        }
      }
    }
  }
}

// Footer
footer {
  background-color: $yellow;
  border-radius: 60px 60px 0 0;
  display: flex;
  flex-direction: column;
  padding-top: 60px;

  .footerH {
    max-width: 1450px;
    padding: 0 0 50px 15%;

    h2 {
      width: 380px;
      line-height: 55px;
    }
  }

  .footerContent {
    display: flex;
    justify-content: space-between;
    padding: 0 15% 70px 15%;

    .mail,
    .telephone,
    .socials {
      display: flex;
      flex-direction: column;
    }

    .mail,
    .telephone {
      a {
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        line-height: 32px;
        font-weight: 500;
        color: $black;
        text-decoration: none;
      }
    }

    span {
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 5px;
      text-transform: uppercase;
    }

    .contactInfo {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }

    .socials {
      span {
        padding-bottom: 5px;
      }

      .svgs {
        display: flex;
        gap: 15px;
        align-items: center;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: 650px;
    gap: 15px;
    padding-left: 40px;

    input,
    textarea {
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      line-height: 32px;
      font-weight: 200;
      padding: 5px;
    }

    textarea {
      height: 80px;
    }

    button {
      background-color: $black;
      padding: 10px 40px;
      border-radius: 5px;
      box-shadow: 2px 2px 4px rgba(13, 13, 13, 0.4);
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: $white;
      letter-spacing: 0.3px;
      width: 150px;
      border: none;
      cursor: pointer;
    }
  }

  .footerBottom {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: $white;
    padding: 10px 0;
  }
}

// Footer :: Responsiveness
@media screen and (max-width: 1040px) {
  footer {
    .footerContent {
      flex-wrap: wrap;
      gap: 50px;

      form {
        padding-left: 0;
      }
    }
  }
}

// fix footer padding
@media screen and (max-width: 580px) {
  footer {
    .footerH {
      padding: 10px 20px 10px 20px;

      h2 {
        width: 80% !important;
        line-height: 38px !important;
      }
    }

    .footerContent {
      padding: 10px 20px 30px 20px;

      span {
        font-size: 15px;
      }

      a {
        font-size: 20px !important;
        line-height: 32px;
      }
    }

    form {
      width: 100%;
    }

    .footerBottom {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 5px;
      text-align: center;
    }
  }
}
